.place {
    background-color: #f5f5f5;
    margin-top: 100px;
}

.place__permission {
    margin: 0 auto;
    max-width: 1050px;
}

.place__image-bouquet {
    background-image: url(../../images/bouquet.jpg);
    position: relative;
    width: 960px;
    height: 450px;
    object-fit: cover;
    border-width: 1px;
    background-color: #ffffff;
    background-position: 0.000% 63.118%;
    background-size: 126.200%;
    background-repeat: no-repeat;
    border-color: #8a8888;
    border-style: solid;
}

.place__image-table {
    background-image: url(../../images/table.jpg);
    width: 960px;
    height: 450px;
    object-fit: cover;
    border-width: 1px;
    background-color: #ffffff;
    background-position: 0.000% 63.118%;
    background-size: 126.200%;
    background-repeat: no-repeat;
    border-color: #8a8888;
    border-style: solid;
}

.place__cart-registration {
    width: 400px;
    height: 505px;
    border-width: 1px;
    border-radius: 0px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #8a8888;
    border-style: solid;
    box-shadow: 0px 0px 10px 0px rgba(89, 88, 88, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -421px;
    left: 53px;
}

.place__cart-registration-down {
    width: 400px;
    height: 505px;
    border-width: 1px;
    border-radius: 0px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #8a8888;
    border-style: solid;
    box-shadow: 0px 0px 10px 0px rgba(89, 88, 88, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -421px;
    left: 494px;
}

.place__cards-table {
    width: 400px;
    height: 505px;
    border-width: 1px;
    border-radius: 0px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #8a8888;
    border-style: solid;
    box-shadow: 0px 0px 10px 0px rgba(89, 88, 88, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -436px;
    left: 833px;
}

.place__cart-holiday {
    border-width: 1px;
    border-radius: 0px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #8a8888;
    border-style: solid;
    box-shadow: 0px 0px 10px 0px rgba(89, 88, 88, 0.6);
    width: 400px;
    height: 505px;
}
.place__map-holiday {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    background-color: #f5f5f5;
    background-position: center center;
    border-color: #8a8888;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.place__cart-title {
    color: #a78112;
    font-size: 28px;
    font-family: 'CormorantGaramond', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.place__holiday-title {
    color: #a78112;
    font-size: 28px;
    font-family: 'CormorantGaramond', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.place__cart-paragraph_up {
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 30px;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.place__holiday-paragrapg_up {
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 30px;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.place__map-registration {
    text-decoration: none;
    display: flex;
    width: 260px;
    height: 60px;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    background-color: #f5f5f5;
    background-position: center center;
    border-color: #8a8888;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media(max-width:975px) {
    .place__image-bouquet {
        width: 95%;
        margin: 0 auto;
    }

    .place__image-table {
        width: 95%;
        margin: 0 auto;
        margin-top: 70px;
    }

    .place__cart-registration-down {
        left: 427px;
    }
}

@media(max-width:860px) {
    .place__cart-registration {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        border-width: 1px;
        border-radius: 0px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #8a8888;
        border-style: solid;
        box-shadow: 0px 0px 10px 0px rgba(89, 88, 88, 0.6);
    }

    .place__cart-registration-down {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        border-width: 1px;
        border-radius: 0px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #8a8888;
        border-style: solid;
        box-shadow: 0px 0px 10px 0px rgba(89, 88, 88, 0.6);
    }

    .place__image-bouquet {
        width: 300px;
        height: 300px;
        background-size: cover;
    }

    .place__image-table {
        width: 300px;
        height: 300px;
        background-size: cover;
    }

    .place__map-registration {
        margin-bottom: 15px;
    }

    .place__cards-positions {
        background-color: #f5f5f5;
        margin-bottom: 70px;
    }
}