.header {
    margin: 0 auto;
    background-color: #f5f5f5;
    height: 80vh;
}

.header__permission {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 150px;
    position: relative; /* Добавлено для позиционирования бургер-иконки */
}

.header__burger-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__image-couple {
    width: 466px;
    height: 70vh;
    object-fit: cover;
    border-width: 1px;
    background-color: #ffffff;
    background-position: 18.976% 50.000%;
    background-size: 235.100%;
    background-repeat: no-repeat;
    border-color: #8a8888;
    border-style: solid;
}

.header__cards {
    width: 485px;
    height: 70vh;
    object-fit: cover;
    border-width: 1px;
    background-color: #ffffff;
    background-position: 18.976% 50.000%;
    background-size: 235.100%;
    background-repeat: no-repeat;
    border-color: #8a8888;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.header__cards.show {
    opacity: 1;
    transform: translateY(0);
  }

.header__hello-parafraph {
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.header__title {
    color: #a78112;
    font-size: 49px;
    font-family: 'CormorantGaramond', Arial, sans-serif;
    line-height: 1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.header__date-paragraph {
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

/* Стили для бокового меню */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #616161;
    padding-top: 60px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* Плавное появление меню */
    transform: translateX(-100%); /* Изначально скрыто */
}

.sidebar.open {
    transform: translateX(0); /* Показываем меню */
}

.sidebar__menu {
    list-style-type: none;
    padding: 0;
}

.sidebar__menu li {
    padding: 8px 16px;
}

.sidebar__menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar__menu li a:hover {
    background-color: #575757;
}

/* Стили для плавного появления элементов при прокрутке */
.schedule-event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    opacity: 0; /* Изначально скрываем элемент */
    transition: opacity 0.6s ease-out; /* Плавный переход */
}

.schedule-event[data-aos='fade-up'].aos-animate {
    opacity: 1; /* Показываем элемент при анимации */
}

.schedule-events::before {
    content: '';
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
}

.schedule-event::before {
    content: '';
    position: absolute;
    left: 17px;
    width: 12px;
    height: 12px;
    background-color: #8d6e3b;
    border-radius: 50%;
    z-index: 1;
}

@media(max-width:950px) {
    .header__image-couple {
        display: none;
    }

    .header {
        background-image: url(../../images/1647038567_55-kartinkin-net-p-kartinki-dlya-par-69.jpg);
        object-fit: cover;
        background-position: center;
    }

    .header__cards {
        all: unset;
        display: flex;
        flex-direction: column;
        height: 93vh;
        align-items: center;
        justify-content: space-between;
    }

    .header__flex {
        justify-content: center;
    }

    .header__hello-parafraph {
        all: unset;
        color: #ffffff;
        font-size: 29px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 450;
    }

    .header__title {
        border-width: 1px;
        width: 340px;
        opacity: 0.8;
        background-color: #ffffff;
        background-position: center center;
        border-color: #8a8888;
        border-style: solid;
    }

    .header__permission {
        padding-top: 50px;
    }

    .header__date-paragraph {
        color: white;
    }
}

@media(max-width:420px) {
    .header__hello-parafraph {
        font-size: 20px;
    }

    .header__title {
        width: 280px;
    }
}
